<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Test Ruleset" Description="Ruleset for tests" ToolsVersion="16.0">
  <Include Path="analyzersettings.ruleset" Action="Default" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1040" Action="None" />
    <Rule Id="CA1054" Action="None" />
    <Rule Id="CA1707" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeQuality.Analyzers" RuleNamespace="Microsoft.CodeQuality.Analyzers">
    <Rule Id="CA1040" Action="None" />
    <Rule Id="CA1054" Action="None" />
    <Rule Id="CA1707" Action="None" />
    <Rule Id="CA1806" Action="None" />
    <Rule Id="CA2007" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.NetCore.Analyzers" RuleNamespace="Microsoft.NetCore.Analyzers">
    <Rule Id="CA1826" Action="None" />
  </Rules>
</RuleSet>